
.logo{
  margin: 0px;
  padding: 0px;
}
.margin{
        margin-left: auto;
}

.form-margin{
  margin-left: 500px;
  margin-top: 50px;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
section .imgBox{
  position: relative;
  width: 50%;
  height: 100%;
}
section .imgBox::before{
  content:'';                                 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(255deg,#e91e63,#03a9f4);
  z-index: 1;
  mix-blend-mode: screen;
}

section .imgBox img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .contentBox{
  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

section .contentBox .formBox{
  width: 50%;

}

.formBox h1{
  color:#607d8b;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid#607d8b;
  display: inline-block;
  letter-spacing: 1px;
}
.inputBox{
  margin-bottom: 20px;
}
.inputBox span{
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607db8;
  font-weight: 300;
  font-size: 16px;
  letter-spacing:1px;
}
.inputBox input{
  width: 60%;
  display: block;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;

}
.inputBox input[type="submit"]{
  background: green;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}

.inputBox input[type="submit"]:hover
{
  background: #f53677;
}
.inputBox p{
  color: #607d8b;
}

.inputBox p a{
  color: #ff4584;
}
.formBox h5{
  color: #607d8b;
  margin: 30px 0 10px ;
}
.formBox .social{
  display: flex;
  margin: 20px 0 0 2px;
}
.formBox .social li{
  list-style: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #607d8b;
  border-radius: 50%;
  margin: 0 7px;
  cursor: pointer;
}
.formBox .social li:hover{
  background: #ff4584;
}
.formBox .social li i{
  transform: scale(1);
  filter: invert(1);
}

@media (max-width:768px){
  section .imgBox {
    position: absolute;
    left: 0;
    top: auto;
    width: 100%;
    height: 100%;
     
  }
  section .contentBox {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
section .contentBox .formBox {
  width: 100%;
  padding: 40px;
  background: rgb(255 255 255 / 0.5);
  margin:auto;
}
}


/* Error page CSS  */


.not-found{
  margin:200px 0 0 600px
}
.not-found p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  font-weight: 100px;
}
.not-page h1{
  font-size: 25px;
  font-weight: 100px;
  margin-left: 100px;
} 


/* header page css  */

.carousel-inner{
  height: 80vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  background-size: cover;
}
.carousel-item::before{
  content: "";
  display: block;
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  background: rgb(24, 235, 24);
  opacity: 0.3;

}
.carousel-caption{
  top: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-caption h5{
  font-size:50px;
  font-weight: 700;
  top:10rem;
  color:rgba(63, 235, 6, 0.85)
}
.carousel-caption p {
  margin-top: 2px;
  font-size: 30px;
}

.inline{
  display: inline-block;
 
}
.btn-2{
  background:blue;
  padding: 14px 30px 14px 30px;
  margin-left: 50px;
  color: white;
  border-radius: 30px;

}

.slider-btn input{
  padding: 13px 30px;
  margin: 10px;
  border-radius: 20px;
  
}
.slider-btn select{
  padding: 15px 50px;
  margin: 10px;
  border-radius: 20px;
}
.To{
    color: green;
    font-size: 20px;
}

@media(max-width:858px){
  .carousel-caption h5{
    font-size:30px;
    font-weight: 700;
    top:10rem;
    color:rgba(63, 235, 6, 0.85)
  }
  .carousel-caption h6 {
    margin-left: 50px;
    font-size: 30px;
    color:whitesmoke;
  }
  
  .btn-2{
    background:rgb(11, 196, 106);
    padding: 14px 20px 14px 20px;
    margin-left: 30px;
    color: white;
  
  }
  
  .slider-btn input{
   
    margin: 10px;
    
  }
  .slider-btn select{
    padding: 14px 80px 14px 60px;
    margin: 10px;
  }
  
}



/* Footer page CSS */

.fluids-container{
  width: 100%;
  height: 50vh;
  background-color: #f53677;
}
.col-left{
  width: 30%;
  height: 50vh;
  background-color: aqua;
}
.col-right{
  width: 30%;
  height: 50vh;
  background-color:blue;
}
.col-center{
  width: 30%;
  height: 50vh;
  background-color:red;

}
.margin1{
  margin-bottom:130px;
  margin-top: 10px;
}
.fontasome{
  padding: 20px;


}
@media(max-width:858px){
  .dblock
        {
display: block;
        }
}


/* Bus Seat CSS  */

.container1{
  height: 100px;
  background: #607d8b;
}

.text-center{
  margin-top:px;
}



/* BUSTABLE CSS */
.chair{
  width: 860px;
  height: 150px;
  background: #dce8f5;
}
.chair button{
  width: 50px;
  border-style:dotted;

}
.chair input[type='image'] {
  width: 180px;
  border: solid;
}

.chair input[type='image'] {
  margin-top: 1rem;
}

.btn2{
  width: 100px;
  height: 50px;
  border-radius:20px;
}
.seatInput{
  border-radius: 20px;
}
.table{
  margin-top: 20px;
}
.seatLebel{
  font-size: 20px;
  color:white;
}
.table2{
  width: 1000px;
  margin-left: 300px;
  height: auto;
}